.btn {
  position: absolute;
  bottom: 25px;
  left: 25px;
  padding: 10px 10px;
  border: 0;
  background-color: rgba(136, 118, 118, 0.75);
  color: white;
  text-decoration: none;
  &:active {
    background-color: rgba(150, 150, 150, .75);
  }
  &:focus {
    outline: none;
  }
}
