html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: rgba(0, 0, 0, .65);
  font-family: Arial, Helvetica, sans-serif;
}

p {
  max-width: 65ch;
}

.component {
  position: relative;
  display: inline-block;
  padding: 25px;
  margin: 25px;
  min-width: 320px;
  border: 1px solid rgba(0, 0, 0, .75);
  vertical-align: top;
  min-height: 300px;
}
